.skillouter
{
    padding: 20px;
}
.skillinner
{
  border: 2px solid red;
  border-radius: 10px;
  background:#81e6d9;
  color: #101c34;
  width: 200px;
}
.skillinner:hover
{   color: #af853e;
    background-image: url("https://img.freepik.com/free-vector/gradient-luxury-background_23-2148999255.jpg?w=996&t=st=1675877514~exp=1675878114~hmac=02aff59bcac13b479d0facaa350f8abbba7003e16875a286f162bb2f0d683e5c")
}
.projectouter{
    border: 2.5px solid rgba(200, 137, 230, 0.637);
    padding: 20px;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
}
.projectouter:hover{
    border: 3.5px solid rgba(200, 137, 230, 0.637);
    color: #fee39e;
    background-image: url("https://img.freepik.com/free-vector/blue-luxury-gradient-gold-modern-abstract-design-background_343694-2751.jpg?w=1060&t=st=1675878501~exp=1675879101~hmac=b3073b1759a872e00863f00ff72705e07fa011b9f1c8658eb09614a3a3c3fa96");
    background-size: cover;
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: 1.5s;
}
.iconbutton {
    text-decoration: none;
    border-radius: 60px;
    display: inline;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
  }
  
  .iconbutton:hover {
    max-width: 500px;
  }
  
  .icon {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-right: 15px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
  }
  
  .text {
    white-space: nowrap;
    padding-right: 15px;
  }